<template>
  <div>
    <h1>Create an Event</h1>
    <form @submit.prevent="sendForm">
      <BaseSelect
	:options="category"
	v-model="event.category"
	label="Select a Category"
      />
      <BaseInput
	v-model="event.title"
	label="Title"
	type="text"
      />
      <BaseInput
	v-model="event.description"
	label="Description"
	type="text"
      />
      <BaseInput
	v-model="event.location"
	label="Location"
	type="text"
      />
      <div>
	<BaseCheckbox
	  label="Catering"
		 v-model="event.extras.catering"
	  
	/>
      </div>
      <div>
	<BaseCheckbox
	  label="Live Music"
	  v-model="event.extras.music"
	/>
      </div>

      <div>
	<BaseRadioGroup
	  name="pets"
	  :options="petOptions"
	  v-model="event.pets"
	  vertical
	/>
      </div>
      <button type="submit"> Submit </button>
    </form>
    <pre>{{ event }}</pre>
  </div>
</template>

<script>
 // import BaseInput from '../components/BaseInput.vue'
 // import BaseSelect from '../components/BaseSelect.vue'
import axios from 'axios';
 
 export default {
   data() {
     return {
       category: [
	 "Food",
	 "Music",
	 "Tree Planting",
	 "Traveling"
       ],
       event: {
	 category: '',
	 title: '',
	 description: '',
	 location: '',
	 pets: 1,
	 extras: {
	   catering: false,
	   music: false
	 }
       },
       petOptions: [
	 {label: "Yes", value: 1},
	 {label: "No", value: 0}
       ]
     }
   },
   //components: {
     // BaseInput,
     // BaseSelect
   // }
   methods: {
     sendForm(){
       axios.post(
	 'https://my-json-server.typicode.com/srpallab/vue-form-db/events',
	 this.event
       ).then(function (response){
	 console.log(response)
       }).catch(function (err){
	 console.log('Error', err)
       })
       
     }
   }
 }
</script>
