<template>
  <div class="container">
    <SimpleForm />
  </div>
</template>

<script>
import  SimpleForm from "./views/SimpleForm.vue";

export default {
  name: "App",
  components: {
    SimpleForm,
  },
};
</script>

<style scoped>
 .container{
   max-width: 300px;
   margin: auto;
 }
</style>
